/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.game-app-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-body-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.emojis-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 0px;
  list-style-type: none;
  width: 100%;
  max-width: 1000px;
  margin: 0px;
}
